<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Synapse.Handlers.Legacy.Database.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Synapse.Handlers.Legacy.Database.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value>LweTpvRmOp8mBcW5grgIuqNrbz7ces0Q2F6pf0aThSI=</value>
            </setting>
            <setting name="PassPhrase" serializeAs="String">
                <value>123456789012345</value>
            </setting>
            <setting name="SaltValue" serializeAs="String">
                <value>12345678</value>
            </setting>
            <setting name="InitVector" serializeAs="String">
                <value>1234567890123456</value>
            </setting>
            <setting name="RegexErrorFilterSqlServer" serializeAs="String">
                <value>((?=.*\bMsg\b)|(?=.*\bHResult\b))(?=.*\bLevel\b)(?=.*\bState\b)</value>
            </setting>
            <setting name="WorkRoot" serializeAs="String">
                <value />
            </setting>
            <setting name="SqlPlusPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SourceRoot" serializeAs="String">
                <value>SourceFiles</value>
            </setting>
            <setting name="StagedRoot" serializeAs="String">
                <value>SystemFiles\StagedFiles</value>
            </setting>
            <setting name="CachedRoot" serializeAs="String">
                <value>SystemFiles\CachedFiles</value>
            </setting>
            <setting name="ProcessedRoot" serializeAs="String">
                <value>ProcessedFiles</value>
            </setting>
            <setting name="RegexErrorFilterOracleCompilation" serializeAs="String">
                <value>(Warning:.*with compilation errors.)</value>
            </setting>
            <setting name="FolderPath" serializeAs="String">
                <value>MyFolderPath</value>
            </setting>
            <setting name="ImpersonationFilePath" serializeAs="String">
                <value>C:\MyApp\ImpersonatorScript.txt</value>
            </setting>
            <setting name="RegexErrorFilterOracle" serializeAs="String">
                <value>^(ORA-)|(SP2-)|(Warning:.*with compilation errors.)|(\r\nORA-)</value>
            </setting>
            <setting name="NostromoApi" serializeAs="String">
                <value>http://localhost/nostromo.svc</value>
            </setting>
            <setting name="FolderRoot" serializeAs="String">
                <value>MyRoot</value>
            </setting>
        </Synapse.Handlers.Legacy.Database.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
